<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <p class="text-muted">
                    DevLand is a global IT services company focused on Software development services
                    with a unique and valuable team, our engineers have proven experience building
                    large-scale applications for different industries following industry standard best
                    practices.

                    From requirements gathering through final release we consider security as a first class
                    citizen during all the stages of software development life cycle, providing high
                    quality solutions that are resilient to cyber security risks helping you to protect
                    your information assets.
                </p>
                <br />
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Strategic Location</h4>
                <p class="text-muted">Strategically located in San José, Costa Rica. Our company is a 2.5 hour flight from Miami, Florida or 4 hour flight from Houston, Texas. It is easy to cost effectively meet your near shore team in person and to bring your team down to your offices as needed.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Time Zone</h4>
                <p class="text-muted">Costa Rica is in the Central Time Zone, so our company is working while you are, eliminating the need for late nights and early mornings. Our teams communicate with their US counterparts using instant messaging, phone or other tools.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-language fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Language</h4>
                <p class="text-muted">English is the second language in Costa Rica. Our engineers are bilingual professionals with excellent proven written and verbal communication skills.</p>
            </div>
        </div>
    </div>
</section>