<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To DevLand!</div>
            <div class="intro-heading">A software development company.</div>
            <a href="/Home/Services" class="btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>