<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted">DevLand provides a wide variety of services.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Mobile Development</h4>
                <p class="text-muted">The necessity of mobile app development is clear – we live in a truly mobile age, with usage of phones and tablets increasingly the norm, not just at home but for business too.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Custom Web Development</h4>
                <p class="text-muted">By leveraging modern web app technologies, you use software outsourcing to create software that’s synced across your business, at a fraction of the price and upkeep of traditional software solutions.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Comprehensive development</h4>
                <p class="text-muted">Our team are skilled and experienced in a full range of powerful development frameworks, allowing us to create comprehensive solutions, tailor-made to fit your exact usage needs.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-retweet fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">The Agile way</h4>
                <p class="text-muted">Agile development was born out of the limitations of end-focussed software development, where significant time and effort may be spent working towards a complete product, without testing and fault-checking until late in the project.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Dedicated Development Teams</h4>
                <p class="text-muted">DevLand outsourcing team certain independent tasks, allows your business to maintain a flexibility when there is an uncertainty in demand. You can scale up or down comfortably.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Consulting</h4>
                <p class="text-muted">DevLand offers consultancy services which ensure that clients information assets are handled appropriately thus preserving confidentiality, integrity and availability.</p>
            </div>
        </div>
    </div>
</section>